<div class="container-fluid home-container text-center text-lg-start">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../../../../assets/img/health-logo.png" alt="Salud Logo" width="200">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="currentView === 'home'"
                            [class.disabled]="currentView === 'home'" (click)="navigateToHome()"
                            [attr.disabled]="currentView === 'home' ? true : null">Inicio</a>
                    </li>
                    <!-- Índice Corporal -->
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="currentView === 'bmi'"
                            [class.disabled]="currentView === 'bmi'" (click)="navigateToBmi()"
                            [attr.disabled]="currentView === 'bmi' ? true : null">Índice Corporal</a>
                    </li>

                    <!-- Alimentación -->
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="currentView === 'feeding'"
                            [class.disabled]="currentView === 'feeding'" (click)="navigateToFeeding()"
                            [attr.disabled]="currentView === 'feeding' ? true : null">Alimentación</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" [class.active]="currentView === 'exercise'"
                            [class.disabled]="currentView === 'exercise'" (click)="navigateToExercise()"
                            [attr.disabled]="currentView === 'exercise' ? true : null">Rutina de ejercicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-primary custom-btn me-2" (click)="navigateToProfile()">
                            Ver Perfil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary custom-btn" (click)="logout()">
                            Cerrar Sesión
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Contenido principal -->
    <div class="container mt-5">
        <h1 class="text-center text-success mb-4">Plan de Alimentación Semanal</h1>
        <p class="text-center text-muted mb-4">
            Un plan diseñado para mejorar tu salud y bienestar.
        </p>
        <!-- Mensaje con el nombre del usuario y su IMC -->
        <div class="user-info bg-light p-3 rounded shadow">
            <p>
                <strong>Hola {{ userName }}</strong>, tu IMC es
                <span [ngStyle]="{'color': getResultColor()}">{{ bmi.toFixed(2) }}</span>
                (<em>{{ bmiCategory }}</em>).
            </p>
        </div>

        <!-- Botón para exportar -->
        <div class="text-end mb-3">
            <button class="btn btn-export" (click)="exportToPDF()">
                Exportar a PDF
            </button>
        </div>


        <!-- Tabla de alimentación -->
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-center">
                <thead class="bg-success text-white">
                    <tr>
                        <th>Día</th>
                        <th>Desayuno</th>
                        <th>Almuerzo</th>
                        <th>Cena</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let plan of planNutricional; let i = index" [class.table-success]="i % 2 === 0">
                        <td>{{ plan.dia }}</td>
                        <td>{{ plan.desayuno }}</td>
                        <td>{{ plan.almuerzo }}</td>
                        <td>{{ plan.cena }}</td>
                    </tr>
                    <!-- Mensaje para datos vacíos -->
                    <tr *ngIf="!planNutricional.length">
                        <td colspan="4" class="text-muted">No hay datos disponibles. Por favor, intente más tarde o
                            ingrese a la pestaña de índice corporal.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>