<div class="container-fluid home-container text-center text-lg-start">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/health-logo.png" alt="Salud Logo" width="120">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Alimentación</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Índice Corporal</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-primary me-2" (click)="navigateToProfile()">
                            Ver Perfil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" (click)="logout()">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Gráficos -->
    <div class="container mt-5">
        <div class="row">
            <!-- Gráfico de Barras para Índice Corporal -->
            <div class="col-md-6">
                <h3>Distribución del Índice Corporal</h3>
                <ngx-charts-bar-vertical
                    [view]="[500, 300]"
                    [scheme]="colorScheme"
                    [results]="bmiData"
                    [gradient]="false"
                    [xAxis]="true"
                    [yAxis]="true"
                    [legend]="true"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [xAxisLabel]="'Categorías'"
                    [yAxisLabel]="'Porcentaje'">
                </ngx-charts-bar-vertical>
            </div>

            <!-- Gráfico Circular para Alimentación Semanal -->
            <div class="col-md-6">
                <h3>Composición de la Alimentación Semanal</h3>
                <ngx-charts-pie-chart
                    [view]="[500, 300]"
                    [scheme]="colorScheme"
                    [results]="weeklyNutrition"
                    [legend]="true"
                    [labels]="true">
                </ngx-charts-pie-chart>
            </div>
        </div>
    </div>
</div>
