<div class="container d-flex align-items-center justify-content-center min-vh-100">
  <div class="card p-4 shadow" style="max-width: 400px; width: 100%;">
    <!-- Título -->
    <h3 class="text-center mb-4">Iniciar Sesión</h3>

    <!-- Imagen debajo del título -->
    <div class="text-center mb-4">
      <img src="assets/img/salud-todos.jpg" alt="Login Image" class="img-fluid" style="max-height: 90px;">
    </div>

    <!-- Formulario -->
    <form (ngSubmit)="onSubmit()">
      <div class="form-group mb-3">
        <label for="correo" class="form-label">Correo</label>
        <input type="email" id="correo" [(ngModel)]="credentials.correo" name="correo" class="form-control"
          placeholder="Ingresa tu correo" required />
      </div>
      <div class="form-group mb-3">
        <label for="contrasena" class="form-label">Contraseña</label>
        <div class="input-group">
          <input [type]="showPassword ? 'text' : 'password'" id="contrasena" [(ngModel)]="credentials.contrasena"
            name="contrasena" class="form-control" placeholder="Ingresa tu contraseña" required />
          <button type="button" class="btn btn-gray border" (click)="togglePasswordVisibility()"
            aria-label="Mostrar/Ocultar contraseña">
            <img *ngIf="showPassword" src="assets/img/hide.png" style="max-height: 20px;" />
            <img *ngIf="!showPassword" src="assets/img/view.png"style="max-height: 20px;" />
          </button>
        </div>
      </div>
      <button type="submit" class="btn btn-primary w-100 animate-btn mb-3">Iniciar Sesión</button>
    </form>

    <!-- Botón de registro -->
    <div class="text-center mt-3">
      <button class="btn btn-outline-primary w-100 animate-btn" (click)="navigateToRegister()">Regístrate</button>
    </div>
  </div>
</div>