/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('assets/img/background.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen al fondo */
    background-position: center center; /* Centra la imagen */
  }